:root {
  --heading-color: #3b525a;
  --h3-font: 30px;
  --p-font: 18px;
  --footer-color: #d9fffa;
}
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  color: var(--heading-color);
}
h3 {
  font-size: var(--h3-font);
}
p {
  font-size: var(--p-font);
}
.header--flex {
  align-items: center;
}
.flex {
  display: flex;
  justify-content: flex-start;
}
.header--btn {
  margin-left: auto;
  width: 116px;
  height: 48px;
  background-color: #f26666;
  border-radius: 5px;
}
.hero--btn {
  width: 240px;
  height: 48px;
}
.footer--btn {
  width: 165px;
  height: 48px;
  border-radius: 5px;
}
/* Hero */
.hero--flex {
  height: 25%;
  flex-direction: column;
}

.hero--h2 {
  width: 985px;
  height: 128px;
  letter-spacing: -1.65px;
  color: #3b525a;
  opacity: 1;
  text-align: left;
  font-size: 55px;
}
.hero--p {
  margin-left: auto;
  width: 619px;
  height: 90px;
  font-size: 22px;
}
.mt-1 {
  margin-top: 10px;
}
.hero--img--bg {
  background-color: #043648;
  border-radius: 30px;
  opacity: 0.9;
  height: 500px;
}
.border {
  border: 5px solid rgb(240, 6, 6);
}
.fixed-width {
  width: 810px;
  height: 60px;
}
.png-width {
  width: 137px;
}
.container-height {
  height: 200px;
}
.courier-bg {
  background: transparent url("../resources/courier.png") 0% 0% no-repeat
    padding-box;
}
.container-width {
  height: 602px;
  width: 513px;
}
.container-inner {
  height: 595px;
  width: 513px;
}
.footer {
  background-color: #043648;
  height: 364px;
  width: 100%;
}
.footer--heading {
  color: var(--footer-color);
  font-size: 40px;
  text-align: center;
}
.footer--text {
  color: white;
  font-size: 22px;
  text-align: center;
}
.shipping--img {
  width: 550px;
}
.shipping--steps {
  color: var(--heading-color);
}
.arrow {
  width: 30px;
  color: red;
}
.fa-solid {
  color: var(--heading-color);
}
.container--bg {
  background-color: rgb(54, 94, 109);
}
.review--chat {
  background: #f3f3f3 0% 0% no-repeat padding-box;
  border-radius: 20px 20px 20px 0px;
  opacity: 1;
  width: 360px;
  height: 220px;
  padding: 30px 26px 40px 26px;
}
.customer--img {
  width: 60px;
}
.div--customer--img {
  width: 100px;
}

.my--grid--child {
  height: 505px;
  background-color: rgb(54, 94, 109);
  border-radius: 20px;
  width: 780px;
}
.grid--img {
  padding-bottom: 30px;
  position: relative;
  top: -70px;
  width: 490px;
}
